        

<!DOCTYPE html>

<head>
       
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="{{site.url}}css/styles.css">  
<link rel="stylesheet" href="{{site.url}}css/main2.css">      
<link href="https://get.gridsetapp.com/31397/" rel="stylesheet" />  
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>


</head>
    

  <body>
         
  <div class="wrapper">
    
      <div class="section da-show da-showgrid t-show t-showgrid m-show m-showgrid"> 

              <nav class="wrap" data-anchor-target="#content" data-200-top="opacity:0;" data-150-top="visibility:visible; top: -55px; opacity: 0.3;" data-100-top="opacity: 1; position: fixed; top: 0;">

                  <div class="container">

                        
                  

                    <nav class="main-nav">  
                            <h1>paper and ink</h1>            
                            <ul>
                                <li><a href="{{site.url}}/service">Service</a></li>
                                <li><a href="{{site.url}}/work">Work</a></li>
                                <li><a href="{{site.url}}/about">About</a></li>
                                 <li><a href="#">File Upload</a></li>
                                <li><a href="#">Contact</a></li>            
                            </ul>

                   </nav>  

                  </div>
                
             
            
              </nav>

     